.textarea {
    
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    display: block;
    box-sizing: border-box;
    width: 100%;
    
    resize: none; 
    overflow: hidden;
    
    background-color: var(--fondo-de-cards-textarea); 
    color: var(--texto-principal); 
    
    font-family: var(--fuente-principal);
    font-size: 16px;          
    line-height: 1.6;         
    letter-spacing: 0.5px;
    
    padding: 0 24px;            
    border-radius: 16px;      
    margin: 20px 0 0 0;           
    border:1px solid var(--bordes-sutiles);
    margin-top:20px;
    padding-top: 20px;
}